.issueItemScore {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.issueItemContent {
    vertical-align: middle;
    display: inline-block;
}

.postedBy {
    font-size: 11px;
}

.issueItemDescription {
    margin-bottom: 1px;
}

.userProposalFilter {
    margin-bottom: 10px;
}
